.App {
  background-color:rgb(248, 165, 114);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.App-header{
  background-color:#233d42 ;
    min-width:450px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 10px;
 }

 .App-header h1{
  text-align: center;
  color: white;
 }
 .todoForm{
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .todoForm_input{
  outline: none;
    width: 260px;
    padding: 15px;
    margin-right: 25px;
    font-size: 20px;
    color: #ccc;
    background-color: black;
    border: 1 px solid #c89666;
    border-radius: 10px;
 }
 .todoForm_btn{
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: coral;
  cursor: pointer;

 }
 .todoList{
  list-style-type: none;
  padding: 0;
 }


 .todoList_item{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  
 }

 .todoList_item_text{
  font-size: 20px;
  color: white;

 }

 .btn-complete,
 .btn-delete
 {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 28px;
  cursor: pointer;
  
 }
.btn-complete{
  color: green;
}
.btn-delete{
  color: red;
}

.complete{
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
  opacity: 0.9;
}

